snippet imp
import ${1:module} from './${2:path}';

snippet clg
console.log(${1:variable});

snippet clt
console.time(${1:name});

snippet clte
console.timeEnd(${1:name});

snippet for
for (var ${2:index} = 0, len = ${1:variable}.length; ${2:index} < len; ${2:index}++) {
	//${4:TODO}
	${3} 
}

snippet tne
throw new Error('${1:error message}')
